<html ng-app="myApp">

<div ng-controller="ctrl_postreq">
<input type="text" ng-model="my_model"><br><br>
<button ng-click="sendData({'message':my_model})">send</button>
	<h1>{{result}}</h1>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script>
var app=angular.module("myApp",[]);

app.service("my_service",function($http){
	this.convertToUpperCase=function(obj){
		return $http.post("http://test-routes.herokuapp.com/test/uppercase",obj)
		.then(function(posRes){return posRes;},
				function(errRes){return errRes;});
	};
});
app.controller("ctrl_postreq",function($scope,my_service){
	$scope.sendData=function(obj){
		my_service.convertToUpperCase(obj).then(function(res){
			$scope.result=res;	
		});
	};
});
</script>
</html>